@model IEnumerable<DoAnLapTrinhWeb.Models.DONDATHANG>

@{
    ViewBag.Title = "DonDatHang";
}
<br />
<br />
<br />
<br />
<br />
<br />
<table class="table">
    <tr>
        <th>
            Mã đơn hàng
        </th>
        <th>
            Đã thanh toán
        </th>
        <th>
            Tình trạng
        </th>
        <th>
            Tình trạng giao hàng
        </th>
        <th>
            Ngày đặt
        </th>
        <th>
            Ngày giao
        </th>
        <th>
            Ưu đãi
        </th>
        <th>
            Tổng tiền
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_DDH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaThanhToan)
            </td>
            <td>
                @if (item.TinhTrang == null)
                {
                    <p>Chờ xác nhận</p>
                }
                else if (item.TinhTrang == true)
                {
                    <p>Đã hoàn thành</p>
                }
                else
                {
                    <p>Đã nhận đơn</p>
                }
            </td>
            <td>
                @if (item.TinhTrangGiaoHang == null)
                {
                    <p></p>
                }
                else if (item.TinhTrangGiaoHang == true)
                {
                    <p>Đã hoàn thành</p>
                }
                else
                {
                    <p>Đang giao</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayGiao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UuDai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                <a href="@Url.Action("Payment","ThanhToan", new {id = item.ID_DDH})" class="btn btn-primary">Thanh toán</a>||
                <a href="@Url.Action("ChiTietDonHang","BikeShop", new {id = item.ID_DDH})" class="btn btn-info">Chi tiết</a> |
            </td>
        </tr>
    }

</table>
