
@{
    ViewBag.Title = "SanPhamTheoBrand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content" style="margin-top: 30px;">
    <div class="col-md-3">
        <p class="lead">Loại xe</p>
        @Html.Action("LoaiSanPham", "BikeShop")
        <p class="lead">Hãng xe</p>
        @Html.Action("Brand", "BikeShop")
    </div>
    <div class="col-sm-9 col-lg-9 col-md-9">
        @foreach (var sp in Model)
        {
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="product-card">
                    <div class="product-tumb">
                        <img src="~/HinhSanPham/@sp.Anh" alt="" width="100%">
                    </div>
                    <div class="product-details">
                        <span class="product-catagory">@sp.BRAND.Brand1</span>
                        <h4><a href="@Url.Action("ChiTietSanPham", "BikeShop", new { id = sp.ID_SANPHAM})">@sp.TenSP</a></h4>
                        <p class="meta-sp">@sp.MoTa</p>
                        <div class="product-bottom-details">
                            <div class="product-price"><small></small>@String.Format("{0:0,0}", sp.GiaBan)</div>
                            <div class="product-links">
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>

</div>
